@charset "UTF-8";
:root {
  --main-font: "Roboto", "Raleway", sans-serif;
  --accent-color-nav: #2196f3;
  --description-color: #757575;
  --section-title-color: #212121;
  --main-background-color: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Общий сброс*/
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

picture {
  display: block;
}

/*Глобальный стиль*/
body {
  font-family: var(--main-font);
}

/*Контейнер*/
.container {
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 770px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section-titel {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-titel {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 3;
  }

  .mobile-menu__container {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 22px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color-nav);
  }

  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #3d3d3d;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--accent-color-nav);
  }

  .mobile-menu__contacts-list {
    margin-top: 306px;
    margin-bottom: 64px;
  }

  .mobile-menu__contacts-link-tel {
    display: block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .mobile-menu__contacts-link-mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .mobile-menu__social-list {
    display: flex;
  }

  .mobile-menu__social-item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .mobile-menu__nav-list .mobile-menu__nav-link.menu_link_current {
    color: var(--accent-color-nav);
  }
}
/*Logo*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.page-header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_text_dark {
  color: #000000;
}

.logo_text_white {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 90px;
  }

  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}
/*.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 90px;}*/
/*Компоненты*/
.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  /*делает элемент прозрачным*/
  visibility: hidden;
  pointer-events: none;
  /*делают элемент неощутимым для мыши*/
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color-nav);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
/*-----------НАПОЛНЕНИЕ МОДАЛЬНОГО ОКНА--------------*/
/*
.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-close-btn:hover &,
    .modal-close-btn:focus & {
        fill: var(--accent-color-nav);
    }
}
*/
.contact-form__name {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:hover {
  cursor: pointer;
}
.contact-form__input:focus {
  border-color: var(--accent-color-nav);
  outline: none;
}

.contact-form__label {
  display: block;
  margin-bottom: 10px;
}

.contact-form-label-textarea {
  margin-bottom: 20px;
}

.contact-form__titel {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__icon:hover {
  cursor: pointer;
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color-nav);
}

.contact-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;
}
.contact-form__comment:focus {
  border-color: var(--accent-color-nav);
  outline: none;
}

.contact-form-checkbox {
  margin-left: 20px;
  margin-top: 436px;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  color: #757575;
}
.contact-form-checkbox-label::before {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  content: "";
  cursor: pointer;
  margin-right: 7px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--accent-color-nav);
  border-color: var(--accent-color-nav);
  background-image: url("../images/svg-images/vector-policy.svg");
  background-position: center;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 2px solid var(--accent-color-nav);
}

.contact-form-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color-nav);
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contractual-condition-link {
  color: var(--accent-color-nav);
  display: block;
}

@media screen and (min-width: 1200px) {
  .contact-form__name {
    line-height: 1.15;
  }

  .contact-form-checkbox-label {
    font-size: 14px;
  }
}
/*.contact-form__name {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;

}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border-color: var(--accent-color-nav);
    outline: none;
  }
}

.contact-form__label {
  display: block;
  margin-bottom: 10px;
}

.contact-form-label-textarea {
  margin-bottom: 20px;
}

.contact-form__titel {
  display: block;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}

.contact-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }
  .contact-form__input:focus + & {
    fill: var(--accent-color-nav);
  }
}

.contact-form__comment {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;

  &:focus {
    border-color: var(--accent-color-nav);
    outline: none;
  }
}

.contact-form-checkbox {
  margin-left: 20px;
  margin-top: 436px;

}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin-left: auto;
  margin-right: auto;

  color: #757575;

  &::before {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #212121;
    content: '';
    cursor: pointer;
    margin-right: 7px;

    .contact-form-checkbox:checked + & {
      background-color: var(--accent-color-nav);
      border-color: var(--accent-color-nav);
      background-image: url('../images/svg-images/vector-policy.svg');
      background-position: center;
    }

    .contact-form-checkbox:focus + & {
      border: 2px solid var(--accent-color-nav);
    }
  }
}

.contact-form-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color-nav);
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.06em;

  margin-top: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.contractual-condition-link {
  color: var(--accent-color-nav);
}
*/
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-open-btn:hover, .mobile-menu-open-btn:focus {
  fill: var(--accent-color-nav);
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color-nav);
  }

  .menu .menu__link.menu_link_current {
    color: var(--accent-color-nav);
  }
  .menu .menu__link.menu_link_current::after {
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .header-mail-item {
    margin-bottom: 10px;
  }

  .header-contacts__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
  }

  .header-contacts__phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .header-contacts__mail-icon {
    fill: #757575;
    margin-right: 10px;
  }

  .header-contacts__phone-icon {
    fill: #757575;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    align-items: center;
    margin-left: 0;
  }

  .header-mail-item {
    margin-right: 50px;
    margin-bottom: 0;
  }

  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-contacts__mail {
    font-size: 14px;
    line-height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__mail:hover, .header-contacts__mail:focus {
    color: var(--accent-color-nav);
  }

  .header-contacts__phone {
    font-size: 14px;
    line-height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__phone:hover, .header-contacts__phone:focus {
    color: var(--accent-color-nav);
  }

  .header-contacts__mail-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__mail:hover .header-contacts__mail-icon, .header-contacts__mail:focus .header-contacts__mail-icon {
    fill: var(--accent-color-nav);
  }

  .header-contacts__phone-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__phone:hover .header-contacts__phone-icon, .header-contacts__phone:focus .header-contacts__phone-icon {
    fill: var(--accent-color-nav);
  }
}
/*Контакты*/
/*
.header-contacts {
  display: flex;
  align-items: center;
}
    .nav-link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
.header-mail-item {
  margin-right: 50px;
}

.header-contacts__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-nav);
  }
}

.header-contacts__phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-nav);
  }
}

.header-contacts__mail-icon {
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__mail:hover &,
  .header-contacts__mail:focus & {
    fill: var(--accent-color-nav);
  }
}

.header-contacts__phone-icon {
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__phone:hover &,
  .header-contacts__phone:focus & {
    fill: var(--accent-color-nav);
  }
}
*/
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg_mobile.jpg");
  background-size: cover;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg_mobile@2x.jpg");
  }
}
.hero_titel {
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .hero_titel {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg_tablet.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg_tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg.jpg");
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero_titel {
    width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}
/*Hero*/
/*
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/bg.jpg');
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero_titel {
  display: block;
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
*/
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.features_name {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features_item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features_list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .features_item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  .features_name {
    text-align: start;
  }

  .features_item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .features_list {
    flex-wrap: nowrap;
  }

  .features_item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
/*Особенности*/
/*
.features {
    padding-top: 94px; (*)
}

.features_list {
    display: flex;
    align-items: flex-start;
    margin-left: -30px;
    margin-top: -30px;
}

.features_item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
}

.features_name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    margin-bottom: 10px;
}

.features_wrapper {
    display: flex;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
} */
@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}
/*Мы занимаемся*/
.we-do {
  padding-bottom: 94px;
}

.we-do__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.we-do__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.we-do__wrapper {
  display: block;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
}

.we-do__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 15px;
  color: #FFFFFF;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__img {
  width: 100%;
}

.team__description {
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .team__list {
    display: block;
  }

  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 30px 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-list__icon {
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }

  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }

  .team__list {
    flex-wrap: nowrap;
  }

  .social-list__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: var(--accent-color-nav);
  }

  .social-list__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
    fill: #FFFFFF;
  }
}
/*Наша команда*/
/*
.team {
    padding-top: 94px;
    background-color: #f5f4fa;
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    color: #212121;
}

.team__description {
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

.team__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
}

.team__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
    padding: 30px 10px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--accent-color-nav);
        }
}

.social-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus & {
            fill: #FFFFFF;
        }
}

*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.clients-list__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  width: 210px;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color-nav);
}

.clients-list__icon {
  fill: rgb(175, 177, 184);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color-nav);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }

  .clients-list__link {
    width: 226px;
  }

  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .clients-list__link {
    height: 92px;
    width: 170px;
  }
}
/*Наши клиенты*/
/*
.clients {
    padding-top: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.clients-list__item:not(:last-child) {
    margin-right: 30px;
}

.clients-list__link {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    height: 92px;
    width: 170px;
    justify-content: center;
    align-items: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color-nav);
            }
}

.clients-list__icon {
    fill: rgba(175, 177, 184, 1);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: var(--accent-color-nav);
        }
}
*/
.footer {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.address__item .link {
  display: block;
  text-align: center;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.address__list {
  margin-bottom: 60px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: #ffffff;
}

.address {
  font-style: normal;
}

.address__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.telegramm-form__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  margin-bottom: 20px;
}

.telegramm-btn {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color-nav);
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.telegramm-btn__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
  }

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  .footer-social {
    margin-left: 165px;
  }

  .telegramm-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .footer__logo {
    text-align: start;
  }

  .address__list {
    margin-bottom: 0;
  }

  .address__item .link {
    text-align: start;
  }

  .footer__subtitle {
    text-align: start;
  }

  .footer-social {
    margin-left: 70px;
  }

  .footer-social__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social__link:hover, .footer-social__link:focus {
    background-color: var(--accent-color-nav);
  }

  .telegramm-form {
    margin-left: 90px;
  }

  .telegramm-form__input {
    width: 360px;
    margin-bottom: 0;
  }

  .telegramm-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .telegramm-btn:hover, .telegramm-btn:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .telegramm-form__form {
    display: flex;
    align-items: center;
  }

  .telegramm-btn {
    margin-left: 12px;
  }

  .footer-social__list {
    margin-bottom: 0;
  }
}
/*Footer*/
/*
.footer {
    background-color: var(--main-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.address__item .link {
    display: block;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__contacts {
    margin-right: 70px;
}

.footer__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.footer-social__list {
    display: flex;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color-nav);
    }
}

.footer-social__item:not(:last-child) {
    margin-right: 10px;
}

.footer-social__icon {
    fill: #FFFFFF;
}
*/
/*Контактные данные*/
/*
.address {
    font-style: normal;
}

.address__map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #ffffff;
}

.address__mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.address__tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.telegramm-form {
    margin-left: 90px;
}

.telegramm-form__descriotion {
    margin-bottom: 20px;
}

.telegramm-form__input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 360px;
    height: 50px;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);

    outline: none;
}

.telegramm-btn {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    background-color: var(--accent-color-nav);
    cursor: pointer;
    border: transparent;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 12px;
    align-items: center;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}




.telegramm-form__form {
    display: flex;
    align-items: center;
}

.telegramm-btn__icon {
    margin-left: 10px;
}*/
.portfolio-nav-btn {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-nav-btn__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}

.portfolio-nav-btn__item {
  margin-left: 8px;
  margin-top: 15px;
}

.portfolio-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: rgb(245, 244, 250);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color-nav);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-nav-btn__list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 30px;
  }

  .portfolio-nav-btn__item {
    margin-left: 8px;
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-nav-btn {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .portfolio-nav-btn__list {
    margin-bottom: 50px;
  }
}
/* Навигационные кнопки */
/*
.portfolio-nav-btn {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav-btn__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  margin-left: -8px;
  margin-bottom: 50px;
}

.portfolio-nav-btn__item {
  margin-left: 8px;
  margin-top: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;

  color: #212121;
  background-color: rgba(245, 244, 250, 1);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color-nav);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
*/
.categories-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.categories-img {
  display: block;
  width: 100%;
}

.categories-content-wrapper {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.img-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.categories-list__link {
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-list__link:hover, .categories-list__link:focus {
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.categories-list__wrapper {
  position: relative;
  overflow: hidden;
}

.overlay__description {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-list__link:hover .overlay__description {
  transform: translateY(0);
}

.categories-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .categories-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
  }

  .categories-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
    margin-bottom: 0;
  }

  .categories-content__first-wrapper {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .categories-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }

  .categories-content__first-wrapper {
    padding-bottom: 20px;
  }

  .categories-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
/*Все категории портфолио*/
/*
.categories-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
}

.categories-img {
    display: block;
}

.categories-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);

}

.categories-content-wrapper {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.img-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

    color: #212121;
}

.categories-list__link {
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background: #FFFFFF;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}



.categories-list__wrapper {
    position: relative;
    overflow: hidden;
}

.overlay__description {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(+100%);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .categories-list__link:hover & {
            transform: translateY(0);
        }
}

*//*# sourceMappingURL=main.css.map */