.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color-nav);
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }

  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;

    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color-nav);
    }
  }

  .menu .menu__link.menu_link_current {
    color: var(--accent-color-nav);

    &::after {
      display: block;
      width: 100%;
      height: 4px;
      content: '';
      background-color: #2196f3;
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
  }

  .header-mail-item {
    margin-bottom: 10px;
  }

  .header-contacts__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
  }

  .header-contacts__phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    color: #757575;
  }
  .header-contacts__mail-icon {
    fill: #757575;
    margin-right: 10px;
  }

  .header-contacts__phone-icon {
    fill: #757575;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    align-items: center;
    margin-left: 0;
  }
  .header-mail-item {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-contacts__mail {
    font-size: 14px;
    line-height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color-nav);
    }
  }

  .header-contacts__phone {
    font-size: 14px;
    line-height: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color-nav);
    }
  }
  .header-contacts__mail-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-contacts__mail:hover &,
    .header-contacts__mail:focus & {
      fill: var(--accent-color-nav);
    }
  }
  .header-contacts__phone-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-contacts__phone:hover &,
    .header-contacts__phone:focus & {
      fill: var(--accent-color-nav);
    }
  }
}

/*Контакты*/
/*
.header-contacts {
  display: flex;
  align-items: center;
}
    .nav-link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
.header-mail-item {
  margin-right: 50px;
}

.header-contacts__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-nav);
  }
}

.header-contacts__phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-nav);
  }
}

.header-contacts__mail-icon {
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__mail:hover &,
  .header-contacts__mail:focus & {
    fill: var(--accent-color-nav);
  }
}

.header-contacts__phone-icon {
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__phone:hover &,
  .header-contacts__phone:focus & {
    fill: var(--accent-color-nav);
  }
}
*/
