
.categories-list {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.categories-img {
    display: block;
    width: 100%;
}


.categories-content-wrapper {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}


.img-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

    color: #212121;
}

.categories-list__link {
    display: flex;
    flex-direction: column;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #FFFFFF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

}

.categories-list__wrapper {
    position: relative;
    overflow: hidden;
}

.overlay__description {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(+100%);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .categories-list__link:hover & {
        transform: translateY(0);
    }


}

.categories-list__item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    
    .categories-list__item {
        display: flex;

    }
.categories-list {
        display: flex;
        margin-left: -30px;
        margin-top: -30px;
        flex-wrap: wrap;
    }



    .categories-list__item {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 60px) / 2);
        margin-bottom: 0;

    }

        .categories-content-wrapper {
            flex-grow: 1;
        }
}

@media screen and (min-width: 1200px) {

    .categories-list__item {

    flex-basis: calc((100% - 90px) / 3);}

         .categories-content__first-wrapper {
             padding-bottom: 20px;
         }
        .categories-list__item:not(:last-child) {
            margin-bottom: 0px}


}

/*Все категории портфолио*/
/*
.categories-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
}

.categories-img {
    display: block;
}

.categories-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);

}

.categories-content-wrapper {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.img-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

    color: #212121;
}

.categories-list__link {
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background: #FFFFFF;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}



.categories-list__wrapper {
    position: relative;
    overflow: hidden;
}

.overlay__description {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(+100%);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .categories-list__link:hover & {
            transform: translateY(0);
        }
}

*/




