
@media screen and (max-width: 1199px) {
    .we-do {
        display: none;
    }
}


/*Мы занимаемся*/
.we-do {
    padding-bottom: 94px;
}
.we-do__list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;

}

.we-do__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
    position: relative;

}

.we-do__wrapper {
    display: block;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
}

.we-do__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 15px;
    color: #FFFFFF;

}