/*.contact-form__name {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border-color: var(--accent-color-nav);
    outline: none;
  }
}

.contact-form__label {
  display: block;
  margin-bottom: 10px;
}

.contact-form-label-textarea {
  margin-bottom: 20px;
}

.contact-form__titel {
  display: block;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}

.contact-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }
  .contact-form__input:focus + & {
    fill: var(--accent-color-nav);
  }
}

.contact-form__comment {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;

  &:focus {
    border-color: var(--accent-color-nav);
    outline: none;
  }
}

.contact-form-checkbox {
  margin-left: 20px;
  margin-top: 436px;

}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin-left: auto;
  margin-right: auto;

  color: #757575;

  &::before {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #212121;
    content: '';
    cursor: pointer;
    margin-right: 7px;

    .contact-form-checkbox:checked + & {
      background-color: var(--accent-color-nav);
      border-color: var(--accent-color-nav);
      background-image: url('../images/svg-images/vector-policy.svg');
      background-position: center;
    }

    .contact-form-checkbox:focus + & {
      border: 2px solid var(--accent-color-nav);
    }
  }
}

.contact-form-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color-nav);
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.06em;

  margin-top: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.contractual-condition-link {
  color: var(--accent-color-nav);
}
*/