/*Logo*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.page-header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo_text_dark {
  color: #000000;
}

.logo_text_white {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 90px
    }

  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}


/*.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 90px;}*/