/*Общий сброс*/

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

picture {
    display: block;
}

/*Глобальный стиль*/

body {
    font-family: var(--main-font);
}


