.section-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.section {
    padding-bottom: 94px;
}