:root {
    --main-font: 'Roboto', 'Raleway', sans-serif;
    --accent-color-nav: #2196f3;
    --description-color: #757575;
    --section-title-color: #212121;
    --main-background-color: #2f303a;
}